[submodule "opensteamworks"]
	path = opensteamworks
	url = https://github.com/EionRobb/pidgin-opensteamworks.git
[submodule "adium"]
	path = adium
	url = https://github.com/adium/adium.git
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "compareToVersion"]
	path = compareToVersion
	url = https://github.com/stijnster/NSString-compareToVersion.git
